
/*      MY CODE for @media
@media only screen and (max-width: 600px){
    h1 {
        background-color: red;
        font-size: 30px;
    }
    h2 {
        font-size: 20px;

    }
    h3 {
        font-size: 20px;
    }
    aside{
        font-size: 20px;
    }

    .col-4{
        min-width: 400px;
    }

}
*/
@media (max-width: 767px) {
    section, header {
        max-width: 749px;
        background-color: yellow;
    }
    aside{
        font-size: 30px;
    }

    .col-4 {
        width: 320px;
        }
    }
/*.intro {
    padding-left: 3%;
    padding-right: 3%;
}*/
@media (min-width: 768px) {
    section, header {
        width: 750px;
        background-color: blue;
    }


    .col-4{
        width: 45%;
    }
   /* .intro {
        padding-left: 3%;
        padding-right: 3%;
    }
*/
}

@media (min-width: 992px) {
    section, header {
        width: 970px;
        background-color: green;
    }
    .col-4 {
        width: 33.33%;
    }
  /*  .intro {
        padding-left: 5%;
        padding-right: 5%;
    }
*/
}
@media (min-width: 1200px) {
    section, header {
        width: 1170px;
        background-color: cyan;
    }
    .col-4 {
        width: 25%;
  /*  }
    .intro {
        padding-left: 5%;
        padding-right: 5%;
    }
*/
}